:host {
  --mat-stepper-header-hover-state-layer-color: none !important;
  --mat-stepper-header-selected-state-label-text-size: 14px !important;
  --mat-stepper-header-done-state-icon-background-color: #ff3434 !important;
  --mat-stepper-header-selected-state-icon-background-color: black !important;
  --mat-stepper-header-edit-state-icon-background-color: black !important;
}
