.avatar-container {
  position: relative;
  width: fit-content;
}

.image-container {
  height: 41px;
  width: 41px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;

  &.avatar-placeholder {
    background-image: url('~src/assets/images/avatar-placeholder.jpg');
  }
}

.icon-wrapper {
  display: none !important;
  position: absolute;
  height: 5px;
  width: 5px;
  padding: 0.35rem;
  background-color: #2962ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all 0.25s;
    background-color: darken(#2962ff, 15%);
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}
