.flicking-panel {
  background: #e0d6d1;
  justify-content: center;
  margin-right: 5px;
  height: 58px;
  width: 105px;
  max-width: 105px;
  border-radius: 15px;

  img {
    width: 22px;
    height: auto;
  }
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 12px;
  span {
    font-size: 14px;
    font-weight: 300;
  }
  &:last-child {
    background: none;
    outline: 2px dashed #b8b8b8;
    outline-offset: -2px;
    background-color: #f4f3f1;
    mat-icon {
      color: #b8b8b8;
    }
  }
}
