<div class="login-content">
  <h2 class="title">Bienvenue!</h2>
  <p class="sub-title">Entrez votre nom d'utilisateur et mot de passe</p>

  @if (isLoginFailed) {
    <div class="error-message">
      <mat-icon>error_outline</mat-icon>
      <span>Le nom d'utilisateur ou le mot de passe est incorrect</span>
    </div>
  }

  <form [formGroup]="loginForm" aria-labelledby="login-heading">
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput name="username" formControlName="username" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        name="password"
        [type]="passwordHide ? 'password' : 'text'"
        formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="passwordHide = !passwordHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordHide">
        <mat-icon>{{
          passwordHide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>

    <a href="#">
      <div class="forgot-password">Je n'arrive pas à me connecter</div>
    </a>

    <button
      class="login-button"
      mat-fab
      extended
      type="submit"
      [disabled]="loginForm.invalid || loginForm.pending || isLoading"
      (click)="onSubmit()">
      @if (isLoading) {
        <mat-icon>
          <mat-spinner color="accent" diameter="25"></mat-spinner>
        </mat-icon>
      } @else {
        <mat-icon>play_arrow</mat-icon>
      }
      Se connecter
    </button>

    <div class="create-account-full-text">
      Ou
      <a href="#">
        <span class="create-account">Créer un compte</span>
      </a>
    </div>
  </form>
</div>
