<div>

  <!-- calendar -->
  <weekly-calendar (selectedDateChange)="setSelectedDate($event)"></weekly-calendar>

  <!-- training session -->
  <div class="training-session-text-container">
    <div class="day-program-text">Programme de votre journée :</div>
    <div class="selected-day-text">{{ selectedFormattedDate }}</div>
  </div>

  <mat-chip-listbox aria-label="selection">
    @for (training of trainingsOfSelectedDay; track $index) {
      <mat-chip-option [selected]="training.selected">{{ training.name }}</mat-chip-option>
    }
  </mat-chip-listbox>

  <!-- training session program -->
  <step-progress></step-progress>

  <!-- buttons -->
  <div class="button-container">
    <div class="buttons">
      <button class="button-validate" mat-fab extended>
        <mat-icon>done</mat-icon>
        Valider
      </button>
      <button class="button-start" mat-fab extended>
        <mat-icon>play_arrow</mat-icon>
        Commencer la séance
      </button>
    </div>
  </div>

  <div class="my-activities-container">
    <div class="my-activities-text">Mes activités</div>
  </div>

  <!-- slider -->
  <div class="training-model-slider-container">
    <training-model-slider></training-model-slider>
  </div>


</div>