<div>

  <!-- calendar -->
  <weekly-calendar></weekly-calendar>

  <!-- training session -->
  <div style="margin-top: 20px; margin-bottom: 12px;">
    <div style="font-size: 18px; color: #FF1D1D; padding-bottom: 5px;">Programme de votre journée :</div>
    <div style="font-size: 22px; font-weight: lighter;">Samedi 8 Novembre</div>
  </div>

  <mat-chip-listbox aria-label="selection">
    <mat-chip-option color="primary" selected>Haut du corps</mat-chip-option>
    <mat-chip-option>Cardio</mat-chip-option>
    <mat-chip-option>Kung-fu</mat-chip-option>
  </mat-chip-listbox>

  <!-- training session program -->
  <step-progress></step-progress>

  <!-- buttons -->
  <div style="
      display: flex;
      text-align: center;
      margin: 35px 0;
      justify-content: center;
    ">
    <div style="background-color: #e4e4e4; border-radius: 25px; padding: 2px">
      <button mat-fab extended style="background-color: black; color: white; box-shadow: none">
        <mat-icon>done</mat-icon>
        Valider
      </button>
      <button mat-fab extended style="background-color: #FF3434; color: black; box-shadow: none">
        <mat-icon>play_arrow</mat-icon>
        Commencer la séance
      </button>
    </div>
  </div>

  <div style="margin-top: 20px;">
    <div style="font-size: 18px;">Mes activités</div>
  </div>

  <!-- slider -->
  <div class="training-model-slider-container">
    <training-model-slider></training-model-slider>
  </div>


</div>