.training-model-slider-container {
  margin-top: 15px;
}

.training-session-text-container {
  margin-top: 20px;
  margin-bottom: 12px;

  .day-program-text {
    font-size: 18px;
    color: #ff1d1d;
    padding-bottom: 5px;
  }

  .selected-day-text {
    font-size: 22px;
    font-weight: lighter;
  }
}

.button-container {
  display: flex;
  text-align: center;
  margin: 35px 0;
  justify-content: center;

  .buttons {
    background-color: #e4e4e4;
    border-radius: 25px;
    padding: 2px;

    .button-validate {
      background-color: black;
      color: white;
      box-shadow: none;
    }

    .button-start {
      background-color: #ff3434;
      color: black;
      box-shadow: none;
    }
  }
}

.my-activities-container {
  margin-top: 20px;

  .my-activities-text {
    font-size: 18px;
  }
}
