.button {
    border-radius: 15px;
    background-color: #CFD8D7;
    box-shadow: none !important;
    text-align: left;
    color: black;
    height: 55px;
}
.session-date {
    color: #FF3434; font-weight: lighter;
    font-size: 12px;
    margin-bottom: 2px;
}
.body-part {
    color: black;
    font-size: 14px;
}