@import './custom-theme.scss';

$primary-color: #ff4081;
$primary-color-text: white;
$background-color: #f6f6f6;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var($background-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-primary {
  background-color: var($primary-color);
  color: var($primary-color-text);
}

fieldset {
  border: none;
  background: none;
}