<div class="register-content">
  <h2 class="title">Bienvenue!</h2>
  <p class="sub-title">Dites nous qui vous êtes avant de commencer</p>

  <form [formGroup]="registerForm" aria-labelledby="register-heading">
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput name="username" formControlName="username" />
    </mat-form-field>

    <mat-chip-listbox formControlName="gender">
      <mat-chip-option
        value="NOT_SPECIFIED"
        [disabled]="isOptionDisabled('NOT_SPECIFIED')"
        >Non-spécifié</mat-chip-option
      >
      <mat-chip-option value="MAN" [disabled]="isOptionDisabled('MAN')"
        >Homme</mat-chip-option
      >
      <mat-chip-option value="WOMAN" [disabled]="isOptionDisabled('WOMAN')"
        >Femme</mat-chip-option
      >
    </mat-chip-listbox>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        name="password"
        [type]="passwordHide ? 'password' : 'text'"
        formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="passwordHide = !passwordHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordHide">
        <mat-icon>{{
          passwordHide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      class="register-button"
      mat-fab
      extended
      type="submit"
      (click)="onSubmit()">
      @if (isLoading) {
        <mat-icon>
          <mat-spinner color="accent" diameter="25"></mat-spinner>
        </mat-icon>
      } @else {
        <mat-icon>play_arrow</mat-icon>
      }
      S'inscrire
    </button>
  </form>
</div>
